body{
    background-color: #f2f2f2;
}
h1{
    color: black;
    border-left-style:inset;
    padding: 5px;
    border-left-width: 5px;
    border-top-style: dotted;
    border-bottom-style: dotted;
}
p{
    color:dimgrey;
    border-style: solid;
    padding: 10px;
    border-color: darkcyan;
    border-radius: 10px;
}
